# API KEYS
GOOGLE_API_KEY=<your-google-api-key>
OPENAI_API_KEY=<your-openai-key>

# MODELS
GOOGLE_MODEL=<google-model>

# LOGGER
LOGGER_LEVEL=info

# PERPLEXICA
PERPLEXICA_BASE_URL = http://localhost:3000

# DATABASE 
DATABASE_URL=""

# META
META_BASE_URL="https://graph.facebook.com/v22.0"
META_ACCESS_TOKEN=
META_BUSINESS_PHONE_ID=
META_VERIFY_TOKEN=<can-set-yourself>